<li>
  <a href="{{%s:prefix}}/lists/for/{{%s:list_id}}" class="btn split list-item">{{%s:list}}</a><label for="list-edit-{{%s:list_id}}"><span class="btn edit-list-btn">Edit</span></label>

  <input type="checkbox" id="list-edit-{{%s:list_id}}" class="list-radio-show hidden" name="list-radio" class="hidden">
  <div class="list-edit-content">
    <form action="{{%s:prefix}}/lists/edit/{{%s:list_id}}" method="post">
      <input type="text" name="title">
      <select name="replies_policy">
        <option value="0">None</option>
        <option value="1">List</option>
        <option value="2">Followed</option>
      </select>
    </form>
  </div>
</li>
