        <label for="status-quickreply-{{%s:status_id}}" class="pointer statbtn reply-btn">
            {{ %s : reply_btn }}
            <span class="count">{{%s:reply_count}}</span>
        </label>

